@page "/browse"
@using Design_A_Bear.Services
@using Design_A_Bear.Models
@inject IItemService ItemService
@rendermode InteractiveAuto

<PageTitle>Browse Products</PageTitle>

<h3>Browse Products</h3>


@code {
    List<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        items = await ItemService.GetAllItems();
    }
}
