@page "/"


<PageTitle>Home</PageTitle>

<div class="hero-section mt-2">
    <div class="container-fluid">
        <h1 class="display-4 fw-bold">Design A Bear</h1>
        <p class="lead">Where Your Imagination Hugs Reality</p>
        <btn class="btn btn-primary">Shop all</btn>
    </div>
</div>

<h3 class="fw-bold pt-2">Shop teddy bears:</h3>
<div class=" d-flex flex-wrap w-100 overflow-x-scroll pt-2 ">
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
</div>

<h3 class="fw-bold pt-4">Shop teddy clothing:</h3>
<div class=" d-flex flex-wrap w-100 overflow-x-scroll pt-2 ">
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2"></div>
</div>
