@page "/"
@using Design_A_Bear.Models
@using Design_A_Bear.Services
@inject IItemService ItemService

<PageTitle>Home</PageTitle>

<div class="hero-section mt-2">
    <div class="container-fluid">
        <h1 class="display-4 fw-bold">Design A Bear</h1>
        <p class="lead">Where Your Imagination Hugs Reality</p>
        <a href="/Browse/ShopAll" class="btn btn-primary">Shop all</a>
    </div>
</div>

<h3 class="fw-bold pt-2">Shop teddy bears:</h3>
<div class=" d-flex flex-wrap w-100 overflow-x-scroll pt-2 ">
    @foreach(var item in TeddyBears)
    {
        <div class="heroCard me-2 mb-2 mb-md-0">@item.Name</div>
    }
</div>

<h3 class="fw-bold pt-4">Shop teddy clothing:</h3>
<div class=" d-flex flex-wrap w-100 overflow-x-scroll pt-2 ">
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2 mb-2 mb-md-0"></div>
    <div class="heroCard me-2"></div>
</div>

@code{
    private List<Item> TeddyBears = new List<Item>();
    private List<Item> Clothing = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        TeddyBears = await ItemService.FetchSpecificAmount(5,"Teddy Bear");
        Clothing = await ItemService.FetchSpecificAmount(5, "Clothing");

    }
}
