@page "/browse"
@using Design_A_Bear.Services
@using Design_A_Bear.Models
@using Design_A_Bear.Client.Pages.components
@inject IItemService ItemService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Browse Products</PageTitle>

<h3 class="fw-bold mt-4 fs-1">Browse Products</h3>
@if(items.Count != 0)
{
    <div class="d-flex flex-md-row flex-column mt-5 flex-wrap">
        @foreach (var item in items)
        {
            <div class="col-md-4 col-lg-3 col-12 mt-5 mt-md-10" @key="item.Id">
                <ItemCard Item="@item" />
            </div>
        }
    </div>

}

@code {
    List<Item> items = new List<Item>();


    protected override async Task OnInitializedAsync()
    {
        items = await ItemService.GetAllItems();
    }

}
