@page "/browse"
@using Design_A_Bear.Services
@using Design_A_Bear.Models
@using Design_A_Bear.Client.Pages.components
@inject IItemService ItemService
@rendermode InteractiveAuto

<PageTitle>Browse Products</PageTitle>

<h3 class="fw-bold mt-4 fs-1">Browse Products</h3>
@if(items.Count != 0)
{
    <div class="d-flex mt-5">
        @foreach (var item in items)
        {
            <div class="col-2" @key="item.Id">
                <ItemCard Item="@item" />
            </div>
        }
    </div>

}

@code {
    List<Item> items = new List<Item>();


    protected override async Task OnInitializedAsync()
    {
        items = await ItemService.GetAllItems();
    }

}
