@inject IItemService ItemService
@inject IImageService ImageService
@inject NavigationManager NavigationManager
@using Design_A_Bear.Models
@using Design_A_Bear.Services

@page "/ViewProduct/{Id:int}"

<a class="btn btn-primary btn-lg mt-5" href="/browse">Back</a>

@if(item != null)
{
    <div class="row mt-5 rounded justify-content-center">
       <div class="col-md-3 col-12">
           <img class="img-fluid rounded" style="max-width:300px;" src="@ImageService.ConvertBase64ToImage(item.ImgBase64)" />
       </div>
       <div class="col-md-6 col-12 ps-5">
           <h1 class="fw-bold">@item.Name</h1>
           <hr />
           <h5 style="max-width:500px;">@item.Description</h5>
           <h3 class="fw-bold mt-5">£@item.Price.ToString("F2")</h3>
           <div class="d-flex pb-3">
            <select class="me-3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button class="btn btn-primary btn-lg"><i class="bi bi-cart-plus-fill"></i> Add To Basket</button>
           </div>
            <button class="btn btn-danger btn-lg mt-md-0"><i class="bi bi-heart-fill"></i> Add To Wishlist</button>

       </div>
   </div>
}

@code {
    [Parameter]
    public int Id { get; set; } = 0;

    private Item item = new Item();

    protected override async Task OnInitializedAsync()
    {
        if(Id != 0)
        {
            item = await ItemService.GetItemById(Id);
        }
    }
}
