@page "/wishlist"
@using System.Security.Claims
@using Design_A_Bear.Client.Pages.components
@using Design_A_Bear.Models
@using Design_A_Bear.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IFavoriteService IFavoriteService
@rendermode InteractiveAuto

<h3 class="fw-bold pt-5 fs-2">Your wishlist <i class="bi bi-heart-fill text-danger"></i></h3>

@if (isLoading)
{
    <p>Loading your wishlist...</p>
}
else if (!isLoading && wishlistItems.Count == 0)
{
    <p>You have no items saved in your wishlist!</p>
}
else
{
    <div class="row mt-3">
        @foreach (var item in wishlistItems)
        {
            <div class="col-4 mr-3">
                <ItemCard Item="item.Item" />
            </div>
        }

    </div>
}

@code {
    private List<FavoriteItems>wishlistItems = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        if (userId != null)
        { 
            wishlistItems = await IFavoriteService.GetAllFavorites(userId);

        }
        isLoading = false;
    }
}
